
:root{
    --first-section-color: #ffffff;
    --hover-color:#2196F3;
    --text-color:#212121;
}

h1, h2, h3, h4, h5, ul, li, p {
    margin: 0;
    padding: 0;
  
}

.top-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.page{
    font-family: "Roboto", sans-s;
    color: #757575;
}

.link{
    text-decoration: none; 
    padding: 0;
    margin: 0;
}

.list{
    list-style: none;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px 0 15px;

} 

/* -----------------LOGO---------------- */
.logo{
    font-family: "Raleway";
    color: #000000;
    font-size: 26px;

    margin-right: 93px;
}

.logo-part{
    color:var(--hover-color) ;
}

/* ---------------Header---------------- */

.formalization{
    display: flex;
    align-items: center;
} 


.page-heder .container {
    display: flex;
    align-items: center;
}

.header-link{
    font-family: "Roboto";
    color: var(--text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    }


.item{
    display: block;
    padding-bottom: 32px;
    padding-top: 32px; 
}


.site-nav .item:not(:last-child){
    margin-right: 50px;
}


.header-nav .link.current{
    color: var(--hover-color);
} 



.header-hover:hover,
.header-hover:focus {
    color: var(--hover-color);
    cursor: pointer;
}



.contact-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575;

    padding-bottom: 32px;
    padding-top: 32px; 
}

.contact{
    margin-left: auto;
}

.contact .contact-link + .contact-link{
    margin-left: 50px;
}

/* ---------------Header 2--------------- */

.bord-btn{
    border-bottom: 1px solid #ECECEC ;
}


/* ---------------Блок 1---------------- */
.first-section{
background-color:#2F303A ;
text-align: center;

padding-bottom: 200px;
margin-bottom: 50px;
}

.main-title{
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--first-section-color);

    padding-top: 200px;
    margin-bottom: 30px;
}

.first-section-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--first-section-color);
    background-color: #585a6e;
    
    padding: 10px 32px;
    border-radius: 4px;
    border-color: transparent;

}

.first-section-btn:hover,
.first-section-btn:focus{
    background-color: var(--hover-color);
    cursor: pointer;
}

/* ---------------Блок 2---------------- */

.list-hidden{
    margin-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.formalization .quality-li{
max-width: 270px;
}

.formalization .quality-li + .quality-li{
    margin-left: 30px;
}

.quality{
font-weight: 700;
font-size: 14px;
line-height: 1.9;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-color);
margin-bottom: 10px;
}
 

.quality-inform{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* ---------------Блок 3---------------- */

.specialization, .team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.specialization{
    margin-bottom: 50px;
}

.specialization-img{
    display: flex;
    margin-bottom: 94px;
}

.specialization-img > .li-img:not(:last-child){
    margin-right: 30px;
}

li>img{
    display: block;
}

/* ---------------Блок 4---------------- */

.our-team{
    background-color: #F5F4FA;
}

.team{
    padding-top: 94px;
    margin-bottom: 50px;
} 

 .team-info{
    text-align: center;
}

.team-list{
    display: flex;
    margin-left: -30px;
    padding-bottom: 200px;
}

.info-list{
    width: calc(100% /4 - 30px);
    margin-left: 30px;
}


.text-team{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.initials{
    font-weight: 500;
    color: var(--text-color);
    margin-top: -79px;
}

.position{
    color: #757575;
    margin-top: 10px;
}

.img-styl{
   padding-bottom: 108px;
   background-color: #ffffff;
   border-bottom: 2px solid #ECECEC;
}

/* ---------------footer---------------- */
.footer{
    background-color:#2F303A ;
}

.footer-logo{  
font-family: "Raleway";
 color: #ffffff;
 font-size: 26px;
 margin-bottom: 30px;

}

.wrapper{
    display: block;
    padding-top: 60px;
}

.coordinates{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;  
    color: #FFFFFF;
}

.detailed-information{
    margin-top: 20px;
}

.detailed-information a{
    display: block;
    padding-top: 9px;
    max-width: 145px;
}

.detailed-information {
    padding-bottom:  60px;
} 

address > a{
font-size: 14px;
font-style: normal;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

/* -----page two, portfolio------- */

.list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px -15px 81px -15px;
    mar
}

.list-info{
    margin: 15px;
    /* padding-bottom: 110px; */
    border: 1px solid #EEEEEE;
    max-width: 370px;
}

/* ----page two--btn----- */

.filter{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.filter-btn {
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    background-color: #F5F4FA;

    padding: 6px 22px;
    border-radius: 4px;
    border: solid transparent;
    
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--hover-color);
    cursor: pointer;
    color: #ffffff;
}

 .filter .list-btn:not(:last-child){
    margin-right: 8px;
} 


.table-contents{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);

    margin-left: 24px;
    margin-top: 20px;
}

.name-product{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;

    margin-left: 24px;
    margin-bottom: 20px;
}