
:root{
    --first-section-color: #ffffff;
    --hover-color:#2196F3;
    --text-color:#212121;
    --timing-funсtion:cubic-bezier(0.4, 0, 0.2, 1);
}

h1, h2, h3, h4, h5, ul, li, p {
    margin: 0;
    padding: 0;
  
}

.top-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.page{
    font-family: "Roboto", sans-s;
    color: #757575;
}

.link{
    text-decoration: none; 
    padding: 0;
    margin: 0;
}

.list{
    list-style: none;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px 0 15px;

} 

/* -----------------LOGO---------------- */
.logo{
    font-family: "Raleway";
    color: #000000;
    font-size: 26px;

    margin-right: 93px;
}

.logo-part{
    color:var(--hover-color) ;
}

/* ---------------Header---------------- */

.formalization{
    display: flex;
    align-items: center;
} 


.page-heder .container {
    display: flex;
    align-items: center;
}

.header-link{
    font-family: "Roboto";
    color: var(--text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    position: relative;
    
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion);
    }

    .header-link::after {
        display: block;
        content: " ";
        width: 0%;
        background-color: var(--hover-color);
        height: 4px;
        border-radius: 2px;

        position: absolute;

        right: 0;
        bottom: 0;
        opacity: 0;
        transition-property:opacity,width;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-funсtion);  
    }


    .header-link:hover::after{
        width: 100%;
        opacity: 1;
        left: 0;

        transition-duration: 250ms;
        transition-timing-function: var(--timing-funсtion);
    }


    .line-container {
        position: relative;
    }
    
    .line-bl {
        width: 100%;
        background-color: #2196F3;
        height: 4px;
        position: absolute;
        border-radius: 4px;
    
        bottom: 0;
    }



.site-nav .item:not(:last-child){
    margin-right: 50px;
}


.header-nav .link.current{
    color: var(--hover-color);

} 


.contact-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575;


    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion);

}

.header-hover:hover,
.header-hover:focus {
    color: var(--hover-color);
    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion);

}


.contact{
    margin-left: auto;
    display: flex;
    
}


.contact .contact-link + .contact-link{
    margin-left: 50px;
}

.icon{
    margin: 10px;
    fill: currentColor;
    
}

/* ---------------Header 2--------------- */

.bord-btn{
    border-bottom: 1px solid #ECECEC ;
}


/* ---------------Блок 1---------------- */
.first-section{
background-color:#C4C4C4 ;
text-align: center;

padding-top: 200px;
padding-bottom: 200px;


background-image: linear-gradient(
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), 
    url(../images/bghiroblok.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;

}


.main-title{
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--first-section-color);

    margin-bottom: 30px;
}

.first-section-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--first-section-color);
    background-color:var(--hover-color);
    
    padding: 10px 32px;
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}
  

/* ---------------Блок 2---------------- */

.quality-li-bg{
    display: flex;
    background-color: #F5F4FA; 
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
}


.list-hidden{
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.formalization .quality-li{
max-width: 270px;
}

.formalization .quality-li + .quality-li{
    margin-left: 30px;
}

.quality{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-color);
margin-bottom: 10px;
}
 

.quality-inform{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* ---------------Блок 3---------------- */

.specialization-section{
padding-bottom: 94px;
}

.specialization, .team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.specialization{
    margin-bottom: 50px;
}

.specialization-img{
    display: flex;
 
}

.specialization-img > .li-img:not(:last-child){
    margin-right: 30px;
}

li>img{
    display: block;
}
.li-img{
    position: relative;
}

.img-title{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color:rgba(47, 48, 58, 0.8);
    height: 70px;
    
} 

.img-header{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;

position: relative;
top: 50%;
transform: translate(-0%, -50%);
text-align: center;
}
 


/* ---------------Блок 4---------------- */

.team-section{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team{
    margin-bottom: 50px;
} 

.team-info{
    text-align: center;
}

.team-list{
    display: flex;
    margin-left: -30px;
}

.info-list{
    width: calc(100% /4 - 30px);
    margin-left: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.info-list-text{
    padding-top: 30px;
    background-color: #ffffff;
    border-bottom: 2px solid #ECECEC;
}

.soc-list{
display: flex;
justify-content: center;
}

.soc-list-link{
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#AFB1B8 ;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion); 
}

.soc-list-link:hover,
.soc-list-link:focus{
    background-color: var(--hover-color) ;
    color: #ffffff;

    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion);
}


.soc-list-icon{
    fill: currentColor;
}

.soc-list-item+.soc-list-item{
    margin-left: 10px;
}

.text-team{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.initials{
    font-weight: 500;
    color: var(--text-color);
}

.position{
    color: #757575;
    margin-top: 10px;
}

/* ---------------Наши клиенты---------------- */

.client-list{
    display: flex;
}

.client-list li:not(:last-child){
    margin-right: 30px;
}

.our-clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 50px;
}

.client-list-stil{
    color: #AFB1B8;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion);
}


.client-list-section{
    width: 170px;
    height: 92px;

    border-radius: 4px;
    border: 1px solid #AFB1B8;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion)
}

.client-list-link{
    fill: currentColor;
}


.client-list-stil:hover,
.client-list-stil:focus{
color: var(--hover-color);

transition-duration: 250ms;
transition-timing-function: var(--timing-funсtion);
}


.client-list-section:hover,
.client-list-section:focus{
border: 1px solid var(--hover-color) ;
fill:var(--hover-color) ;
cursor: pointer;

transition-duration: 250ms;
transition-timing-function: var(--timing-funсtion);
} 



/* ---------------footer---------------- */
.footer{
    background-color:#2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer-logo{  
font-family: "Raleway";
 color: #ffffff;
 font-size: 26px;

}

.wrapper{
    display:inline-grid;
}

.coordinates{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;  
    color: #FFFFFF;
}

.detailed-information{
    margin-top: 20px;
}

.detailed-information a{
    display: block;
    padding-top: 9px;
    max-width: 145px;
}

address > a{
font-size: 14px;
font-style: normal;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.call{
    display:inline-grid;
    margin-left: 70px;
} 


.links-social{
    display:flex;
}

.tiatle-call{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.link-svg{
fill: #FFFFFF;
}

.link-svg:not(:last-child){
    margin-right: 10px;
}

.link-svg-stail{
    display: flex;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill:  #FFFFFF;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion)
}

.links-social-svg{
    display: flex;
}

.link-svg-stail:hover,
.link-svg-stail:focus {
background:var(--hover-color); 
cursor: pointer;

transition-duration: 250ms;
transition-timing-function: var(--timing-funсtion)
}

.email-container{
    display:inline-grid;
    margin-left: 115px;
    position: relative;
}

.subscription{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-bottom: 20px;
}

.email{
    height: 50px;
    width: 358px;
    padding: 16px 15px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: none;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color:transparent ;
    transition: border-color 250ms;
}

.email:focus,
.email:hover{
    border-color: var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion);
}


.subscription-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    
    color: #FFFFFF;
    background: #2196F3;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    
    position: absolute;
    bottom: 0;
    left: 100%;
    transform: translateX(12px);
    transition: box-shadow 250ms;
    transition-timing-function: var(--timing-funсtion);
}

.subscription-btn:focus,
.subscription-btn:hover{
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
transition-duration: 250ms;
transition-timing-function: var(--timing-funсtion);
}

.telegram{
    margin-left: 10px;
    fill: currentColor;
} 


/* -----page two, portfolio------- */

.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;

}

.work{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.work-info{
    margin: 15px;
    max-width: 370px;

    transition-property:box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion)
}

.work-info:hover,
.work-info:focus{
    cursor: pointer;
box-sizing: border-box;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);

transition-duration: 250ms;
transition-timing-function: var(--timing-funсtion)
}

.work-info:hover .work-text{
    transform: translateY(0%);

    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion)
}

.work-top-wrap{
    position: relative;
    overflow: hidden;

}

.work-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF; 
    background-color: rgba(33, 150, 243, 0.9);

    position: absolute;
    top: 0;
    padding: 63px 24px;
    height: 101%;
    transform: translateY(100%);

    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion)
}


.work-info-text{
  background-color: #ffffff;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE ;
    border-bottom:1px solid #EEEEEE;
}

/* ----page two--btn----- */

.img-style{
    display: block;
}

.filter{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-btn {
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    background-color: #F5F4FA;

    padding: 6px 22px;
    border-radius: 4px;
    border: solid transparent;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion)
    
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--hover-color);
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion)

}

 .filter .list-btn:not(:last-child){
    margin-right: 8px;
} 


.table-contents{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);

}

.name-product{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

/* ----pop-up----- */

.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms,visibility 250ms;
}

.modal{
    position: relative;
    min-height: 581px;
    width: 528px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 40px;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close:hover> .modal-svg,
.modal-close:focus> .modal-svg{
    fill: var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion);
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 12px;
}

.modal-label{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    cursor: pointer;
}

.input-container{
    position: relative;
    margin-bottom: 10px;
}

.input-svg{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms ;
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
    cursor: pointer;
    outline: none;
    transition: border-color 250ms;
}

.modal-input:focus{
    border-color: var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion);
}

.modal-input:focus + .input-svg{
    fill: var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion);
}

.user-texts{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 16px 12px;

    font-size: 14px;
    letter-spacing: 0.01em;
    transition: border-color 250ms;
    resize: none;
    outline: none;
}

.user-texts:focus{
    border-color: var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion);
}

.terms-use{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 7px;

    border: transparent;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.terms-use::before{
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--text-color);
    border-radius: 3px;
    margin-right: 7px;
}

.terms-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196F3;
    cursor: pointer;
}

.input-check:checked + .terms-use::before{
    border: none;
    background-color: var(--hover-color);
    background-image: url(../images/heck\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funсtion);
}

.form-btn{
    text-align: center;
}

.modal-input-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;

    width: 200px;
    height: 50px;
    background: #2196F3;
    border-radius: 4px;
    border: transparent;
    transition: box-shadow 250ms;
}

.modal-input-btn:hover,
.modal-input-btn:focus{
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
transition-duration: 250ms;
transition-timing-function: var(--timing-funсtion);

}