.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-pc_style {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-logo {
  font-family: "Raleway";
  color: $ColoWhite;
  font-size: 26px;
}

@media screen and (min-width: 768px) {
  .footer-tablet_style {
    display: flex;
    justify-content: space-around;
  }
}

.address {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: start;
  }
}

.address-detailed_coordinates {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $ColoWhite;
}

.address-detailed {
  margin-top: 20px;
  margin-bottom: 60px;
  & a {
    display: block;
    padding-top: 9px;
    max-width: 145px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.address-detailed > a {
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width: 1200px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.social-network {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-bottom: 0px;
    margin-right: 103px;
  }
}

.social-network_links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer_tiatle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $ColoWhite;
}

.social-network-svg {
  fill: $ColoWhite;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-network-svg_stail {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: $ColoWhite;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $TimingFunсtion;

  &:hover,
  &:focus {
    background: $HoverColor;
    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }
}

.social-network-svg_container {
  display: flex;
}

.email {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.email-form {
  margin-top: 20px;
  position: relative;
}

.subscription {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $TimingFunсtion;

  margin-bottom: 20px;
}

.email-form_field {
  height: 50px;
  width: 100%;
  padding: 16px 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms;

  &:focus,
  &:hover {
    border-color: $HoverColor;
    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }

  @media screen and (min-width: 480px) {
    max-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.email-form_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;

  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  color: $ColoWhite;
  background: $HoverColor;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: box-shadow 250ms;
  transition-timing-function: $TimingFunсtion;

  @media screen and (min-width: 1200px) {
    position: absolute;
    bottom: 0px;
    margin: 0px;
    left: 100%;
    transform: translateX(12px);
  }

  &:focus,
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }
}

.telegram {
  margin-left: 10px;
  fill: currentColor;
}
