.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms, visibility 250ms;

  overflow-y: scroll;
}

.modal {
  position: relative;
  min-height: 581px;

  width: 450px;
  background-color: $ColoWhite;
  border-radius: 4px;

  margin-top: 93px;
  margin-bottom: 20px;

  padding: 40px 25px;

  @media screen and (min-width: 480px) {
    padding: 40px;
  }

  @media screen and (min-width: 768px) {
    width: 528px;
    padding: 40px;
  }
}

.modal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover > .modal_svg,
  &:focus > .modal_svg {
    fill: $HoverColor;
    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: $TextColor;
  margin-bottom: 12px;
}

.modal-field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}

.modal-input_container {
  position: relative;
  margin-bottom: 10px;
}

.modal-input_svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms;

  &:focus {
    border-color: $HoverColor;
    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }

  &:focus + .modal-input_svg {
    fill: $HoverColor;
    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }
}

.user-texts {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 16px 12px;

  font-size: 14px;
  letter-spacing: 0.01em;
  transition: border-color 250ms;
  resize: none;
  outline: none;

  &:focus {
    border-color: $HoverColor;
    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }
}

.terms-use {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 7px;

  border: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
  margin-bottom: 30px;

  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid $HoverColor;
    border-radius: 3px;
    margin-right: 7px;
  }

  .input-check:checked + &::before {
    border: none;
    background-color: $HoverColor;
    background-image: url(../images/heck.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.terms-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: $HoverColor;
  cursor: pointer;
}

.form-btn {
  text-align: center;
}

.modal-input-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $ColoWhite;
  cursor: pointer;

  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border: transparent;
  transition: box-shadow 250ms;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }
}
