.page-heder .container {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767.98px) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.header-btn {
  padding: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0px;
  border-color: transparent;
}

.header-link {
  font-family: "Roboto";
  color: $TextColor;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;

  transition-duration: 250ms;
  transition-timing-function: $TimingFunсtion;

  &::after {
    display: block;
    content: " ";
    width: 0%;
    background-color: $HoverColor;
    height: 4px;
    border-radius: 2px;

    position: absolute;

    right: 0;
    bottom: 0;
    opacity: 0;
    transition-property: opacity, width;
    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
    left: 0;

    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }
}

.line-container {
  position: relative;
}

.line-bl {
  width: 100%;
  background-color: $HoverColor;
  height: 4px;
  position: absolute;
  border-radius: 4px;

  bottom: 0;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.header-nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767.98px) {
    width: 100%;
    justify-content: space-between;
  }

  &.link.current {
    color: $HoverColor;
  }
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;

  display: flex;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $TimingFunсtion;
}

.header-hover:hover,
.header-hover:focus {
  color: $HoverColor;
  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: $TimingFunсtion;
}

.contact {
  margin-left: auto;
  display: flex;

  & .contact-link + .contact-link {
    margin-left: 50px;
  }
}

.icon {
  margin: 10px;
  fill: currentColor;
}

.no-mob {
  display: none;
}
