.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.work-position {
  margin: 15px;
  width: 100%;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $TimingFunсtion;

  &:hover,
  &:focus {
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 3 - 30px);
  }
}

.work-position_content {
  position: relative;
  overflow: hidden;
}

.work-position_img {
  display: block;
}

.work-position_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $ColoWhite;
  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 101%;
  transform: translateY(100%);

  transition-duration: 250ms;
  transition-timing-function: $TimingFunсtion;

  .work-position:hover & {
    transform: translateY(0%);

    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }
}

.work_info {
  background-color: $ColoWhite;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.work_name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $TextColor;
}

.work_task {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
