.specialization {
  display: none;

  @media screen and (min-width: 1200px) {
    display: initial;
  }
}

.specialization__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $TextColor;
}

.specialization__header {
  margin-bottom: 50px;
}

.specialization-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
  width: 1170px;
}

li > img {
  display: block;
}
.specialization-list__img {
  position: relative;
  width: calc(100% / 3 - 30px);
}

.specialization-list__container {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
}

.specialization-list__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  position: relative;
  top: 50%;
  transform: translate(-0%, -50%);
  text-align: center;
}
