.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team_header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $TextColor;

  padding-bottom: 30px;
}

.team-info_group {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 738px;
  }

  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
}

.text-team {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-info_list {
  background: $ColoWhite;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 15px);
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 15px);
    &:nth-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
}

.team-info_text {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: $ColoWhite;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.team-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-soc-list .team-soc-list_item:not(:last-child) {
  margin-right: 10px;
}

.team-soc-list_link {
  width: 44px;
  height: 44px;
  background-color: $ColoWhite;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: $TimingFunсtion;

  &:hover,
  &:focus {
    background-color: $HoverColor;
    color: $ColoWhite;

    transition-duration: 250ms;
    transition-timing-function: $TimingFunсtion;
  }
}

.team-soc-list_icon {
  fill: currentColor;
}

.team_initials {
  font-weight: 500;
  color: $TextColor;
}

.team_position {
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}
