.quality-list__bg {
  display: flex;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.our-qualities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.qualities-list {
  display: flex;
  align-items: center;
}

.qualities-list .quality-list__element {
  max-width: 270px;
}

.qualities-list .quality-list__element + .quality-list__element {
  margin-left: 30px;
}

.quality-list__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $TextColor;
  margin-bottom: 10px;
}

.quality-list__inform {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
