.first-section {
  background-color: #c4c4c4;
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bghiroblok.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.main-title {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--first-section-color);

  margin-bottom: 30px;
}

.first-section-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--first-section-color);
  background-color: var(--hover-color);

  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
